@import url('~/Content/Bootstrap/css');

body {
    padding-top: 50px;
    background: url('../images/Home/HMS_Logo.png') no-repeat center center fixed;
    background-size: 100% auto;
}

.starter-template  {
    padding: 40px 15px;
    text-align: center;
}

.btn-signin {
    float: right;
    margin-top: 10px;
}

.jumbotron-hmsbanner {
    background: #d3d3d3;
    /*
    background-image: url('images/HMS_Logo.png');
    background-size: 1400px;
    background-image: url("~Images/Home/School_bg.png");
    background-repeat: repeat
    */
}

.div-abouthms {
    background-color: #d3cdcd;
    opacity: 0.5;
    height: 4em;
    margin-top: 5.0em;
    position: relative;
    width: 300px;
}

.h2-ontop {
    position: relative;
    top: 3em;
}

#p_jumbotron { 
    font-size: 13px;
    text-align: justify;
}

.label-general {
	font-size: 13px;
}

.div-signin {
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	background-color: #f8f8f8;
	padding: 30px;
	margin-top: 40px;
}

.a-menu {
    font-weight: bold;
    font-family: Arial Narrow;
    font-size: medium;
}

/* J-Carousel */
/* Global */
 
img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

ul.thumbnails { 
    margin-bottom: 0px;
}

/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
