@section css {
    @Styles.Render("~/Content/home/css")
}
        <div class="jumbotron jumbotron-hmsbanner"> 
			<div class="container">
				<div class="col-xs-6">
					<h2>Food For Hungry Minds School</h2> 
					<p id="p_jumbotron">This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component</p> 
					<p><a class="btn btn-primary btn-md" role="button">Learn more</a></p> 
				</div>
				
				<!--Insert Countdown Clock and tiny progress bar HERE-->
				
			</div>
		<!--end: jumbotron-->
        </div>
		<!--Create 3 tabs here : Groups, Mechanics, About Us-->
        <div class="container">
			<div class="col-xs-12">
	            <ul class="nav nav-tabs nav-justified">
		            <li class="active"><a href="#" class="a-menu">HOME</a></li>
		            <li><a href="#" class="a-menu">MECHANICS</a></li>
		            <li><a href="#" class="a-menu">ABOUT US</a></li>
	            </ul>
		    </div>
        </div>

		<!--This is gonna be Tab 1:-->
		<div class="starter-template">
			<div class="container">
				<div class="col-xs-12">
					<div class="carousel slide" id="myCarousel">
						<div class="carousel-inner">
							<div class="item active">
								<ul class="thumbnails">
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
								</ul>
							<!--end: Slide 1-->
							</div>                                
							<div class="item">
								<ul class="thumbnails">
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
									<li class="col-sm-3">
										<div class="fff">
											<div class="thumbnail">
												<a href="#">
													<img src="http://placehold.it/360x240" alt="">
												</a>
											</div>
											<div class="caption">
												<h4>Praesent commodo</h4>
												<p>Nullam Condimentum Nibh Etiam Sem</p>
												<a class="btn btn-mini" href="#">» Read More</a>
											</div>
										</div>
									</li>
								</ul>
							<!--end: Slide 2-->
							</div>
						<!--end: carousel-inner-->
						</div>
						<nav>
							<ul class="control-box pager">
								<li>
									<a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a>
								</li>
								<li>
									<a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i>
								</li>
							</ul>
						</nav>   
					<!--end: carousel-->
					</div>
				<!--end: col-xs-12-->
				</div>           
			<!--end: container-->
			</div>
		<!--end: starter-template-->
		</div>
		
		<!--Insert footer HERE-->
   





